.main-content {
    width: 100%;
    max-width: 1440px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px; 
}

.card {
    position: relative;
    width: 285px; 
    height: 446px;
    background-color: #F4F5F7;
    overflow: hidden;
    margin: 5px;
}

.card img {
    width: 100%; /* Ajusta a largura da imagem */
    height: 301px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
}

.discount-circle, .discount-circle-new {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.discount-circle {
    background-color: #E97171;
}

.discount-circle-new {
    background-color: #2EC1AC;
}

.card-info {
    padding: 10px;
}

.card-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-info p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.price {
    display: flex;
    align-items: center;
}

.main-price {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.discount-price {
    font-size: 16px;
    color: #999;
    text-decoration: line-through;
}