footer {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left {
    max-width: 300px;
}

.footer-logo img {
    width: 81px;
    height: 36px;
}

.footer-description {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.6;
}

.footer-info {
    margin-top: 150px;
    font-size: 14px;
}

.footer-links {
    display: flex;
    gap: 200px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-column h3 {
    font-size: 18px;
    font-weight: initial;
    color: #9F9F9F;
    margin-bottom: 15px;
} 

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 30px;
}

.footer-column ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-column a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #7B7B7B;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.newsletter-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter-form button:hover {
    background-color: #333333;
}